script(type='text/javascript', id='mermaid-script' mermaidoptioins=theme.mermaid.options src='https://unpkg.com/mermaid@' + theme.mermaid.version + '/dist/mermaid.min.js' + '?vtheme.pjax.enable=' + theme.version)
script.
  if (window.mermaid) {
    const options = JSON.parse(document.getElementById('mermaid-script').getAttribute('mermaidoptioins'));
    mermaid.initialize(options);
  }

<style type="text/css">.mermaid{background: transparent;}</style>