.popup.search-popup.algolia-search-popup
  .algolia-search
    .algolia-search-input-icon
      i.fas.fa-search
    .algolia-search-input#algolia-search-input.search-input
  .algolia-results
    #algolia-stats
    #algolia-hits
    #algolia-pagination.algolia-pagination
  span.popup-btn-close
    i.far.fa-times-circle

if theme.vendors.algolia_instant_css
  link(rel='stylesheet', href=theme.vendors.algolia_instant_css)
if theme.vendors.algolia_instant_js
  script(src=theme.vendors.algolia_instant_js)

script(src=url_for('/js/component/search/algolia-search.js'), defer)
