.popup.search-popup.algolia-search-popup
  .algolia-search
    span.algolia-search-input-icon.search-icon
      +icon('icon-search-line')
    span.algolia-search-input#algolia-search-input.search-input
    span.popup-btn-close.close-icon
      +icon('icon-close-circle-line')
  .algolia-results
    #algolia-stats
    #algolia-hits
    #algolia-pagination.algolia-pagination


if theme.vendors.algolia_instant_css
  link(rel='stylesheet', href=theme.vendors.algolia_instant_css)
if theme.vendors.algolia_instant_js
  script(src=theme.vendors.algolia_instant_js)

script(src=url_for('/js/component/search/algolia-search.js'), defer)
