.popup.search-popup.local-search-popup
  .local-search-header.clearfix
    span.search-icon
      i.fas.fa-search
    span.popup-btn-close
      i.far.fa-times-circle
    .local-search-input-wrapper
      input.search-input#local-search-input(type='text', placeholder=__('search.placeholder'))
  #local-search-result

script(src=url_for('/js/component/search/local-search.js'), defer)
script.
  // Popup Window;
  var isXml = true;
  // Search DB path;
  var search_path = "#{config.search.path}";
  if (search_path.length === 0) {
    search_path = "search.xml";
  } else if (/json$/i.test(search_path)) {
    isXml = false;
  }
  var path = "#{config.root}" + search_path;