if hexo-config('local_search') && hexo-config('local_search.enable')
  @import "local-search.styl"
else if hexo-config('algolia_search') && hexo-config('algolia_search.enable')
  @import "algolia-search.styl"

.search-popup-overlay
  display: none
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 1024
  background-color: rgba(0, 0, 0, 0.2)