{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "@antfu",
  "globals": {
    "hexo": "off",
    "CONFIG": "off",
    "anime": "off",
    "Yun": true,
    "Pjax": true
  },
  "rules": {
    "no-console": "off"
  }
}
