
# main menu navigation
menu:
  Home: /
  About: /about
  Contact: /contact
  Archives: /archives

# stylesheets loaded in the <head>
stylesheets:
- /css/hexo-theme-starry.css

# scripts loaded in the end of the body
scripts:
- /js/hexo-theme-starry.js
