.btn
  padding: 5px 20px
  border: 2px solid $blue
  background: $blue
  color: $white
  the-transition()
  border-radius: 2px

  &:hover
    border-color: $blue
    background: $white
    color: $blue