h2.post-title(itemprop='name headline')
  if post.sticky > 0
    span.post-sticky-flag(title=__('post.sticky') + '：' + post.sticky)
      i(class='fas fa-paperclip')
      |  
  if is_post()
    = post.title
  else
    a.post-title-link(itemprop='url', href=post.path)=post.title