.post-nav
  .post-nav-item.post-nav-prev
    if post.prev
      a.mdc-button(href=url_for(post.prev.path), rel='prev', title=post.prev.title)
        +icon('icon-arrow-left-s-line')
        |  
        != post.prev.title
  .post-nav-divider
    if theme.add_this_id
      i.btn.social-share(onclick='var share = document.getElementById("share"); share.style.display = (share.style.display === "none") ? "block" : "none";')
        +icon('icon-share-line')
  .post-nav-item.post-nav-next
    if post.next
      a.mdc-button(href=url_for(post.next.path), rel='next', title=post.next.title)
        != post.next.title
        |  
        +icon('icon-arrow-right-s-line')