link(itemprop='mainEntityOfPage', href=config.url + url_for(post.path))
span(hidden, itemprop='author', itemscope, itemtype='https://schema.org/Person')
  meta(itemprop='name', content=author)
  meta(itemprop='description', content=description)
span(hidden, itemprop='publisher', itemscope, itemtype='https://schema.org/Organization')
  meta(itemprop='name', content=title)