#reward-container
  i#reward-button.btn(class='fas fa-donate', title=__('reward.donate'), onclick='var qr = document.getElementById("qr"); qr.style.display = (qr.style.display === "none") ? "block" : "none";')
  #qr(style='display:none;')
    for image, name in theme.reward
      - var builtin = ['wechatpay', 'alipay']
      - var translation = builtin.indexOf(name) !== -1 ? __('reward.' + name) : name
      div(style='display:inline-block')
        img(src=url_for(image), alt=author + translation)
        p!=translation