extends _partial/layout.pug

block content
  #page
    +page_header(page.title)
    a(href='javascript:history.back()')
      .not-found 404
    style.
      .not-found {
        text-align: center;
        color: #fff;
        font-size: 12rem;
        text-shadow: 
          0 5px 10px rgba(0,0,0,.25), 
          0 20px 20px rgba(0,0,0,.15);
        animation: text-glow 3s infinite;
      }
      @keyframes text-glow {
        0%{
          text-shadow: 0 5px 10px rgba(0,0,0,0), 
        }
        50%{
          text-shadow: 0 5px 30px rgba(0,0,0,0.5), 
        }
        100%{
          text-shadow: 0 5px 10px rgba(0,0,0,0), 
        }
      }
    article
      include ./_partial/post/post-content.pug
