
extends _partial/layout.pug

prepend title
  | #{__('title.archive')} | 

block content
  #archive.hty-card
    include _mixin/post-collapse.pug
    +page_header(__('title.archive'), theme.menu.archives.icon)
    .page-subtitle= _p('counter.archive_posts', site.posts.length)
    +post_collapse(page.posts)
  include _partial/pagination.pug
