extends _partial/layout.pug

prepend title
  | #{__('title.category') + ' - ' + page.category + ' | '}

block content
  include _mixin/post-collapse.pug
  #category
    h1.post-collapse-title= __('title.category') + ' - ' + page.category
    +post_collapse(page.posts)
  include _partial/pagination.pug
