extends _partial/layout.pug

block content
  include _mixin/post-collapse.pug
  #category.hty-card
    +page_header(page.category, 'icon-folder-2-line')
    +post_collapse(page.posts)
  include _partial/pagination.pug
