//- !(-_-#)
//- If you can see this, I guess you have not installed `hexo-render-pug`.
//- npm install hexo-render-pug
//- Please !!!
extends _partial/layout.pug

block content
  if is_home() && page.current == 1
    if theme.banner.enable
      include ./_partial/banner.pug
    if theme.say.enable
      include ./_widget/say.pug
    if theme.notice.enable
      include ./_widget/notice.pug
  include _partial/recent-posts.pug
  include _partial/pagination.pug
