extends _partial/layout.pug

prepend title
  | #{page.title} | 

block content
  - var post = page
  #post
    article.post-block(itemscope, itemtype='http://schema.org/Article')
      if post.url
        script.
          window.location.href = "#{post.url}";

      include _partial/post/post-schema.pug

      header.post-header
        h1.post-title(itemprop='name headline')
          | #{post.title}
          if theme.post_edit.enable
            include _partial/post/post-edit.pug
        include _partial/post/post-meta.pug

      section.post-body(itemprop='articleBody')
        .post-content(class='post-markdown')!=post.content

        if page.reward !== undefined
          - theme.reward_settings.enable = page.reward
        if theme.reward_settings.enable
          include _partial/post/reward.pug

        if theme.creative_commons.license && theme.creative_commons.post
          include _partial/post/post-copyright.pug

    if post.prev || post.next
      include _partial/post/post-nav.pug

    if page.comments && theme.comment.enable
      include _third-party/comments/index.pug

    if page.katex && !theme.katex.global
      include _third-party/katex.pug