.theme-container.demo-site {
  .theme-default-content.content__default, .page-edit {
    max-width: 1000px;
  }
}

$colors = {
  primary: #ccc
};

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: alpha($colors.primary, 0.7);

  &:window-inactive {
    background-color: alpha($colors.primary, 0.6);
  }

  &:hover {
    background-color: alpha($colors.primary, 0.8);
  }

  &:active {
    background-color: alpha($colors.primary, 1);
  }
}
