.cloud
  svg(class="waves" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto")
    defs
      path(id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" fill=theme.banner.cloud.color)
    g(class="parallax")
      use(xlink:href="#gentle-wave" x="48" y="0" opacity="0.7")
      use(xlink:href="#gentle-wave" x="48" y="3" opacity="0.5")
      use(xlink:href="#gentle-wave" x="48" y="5" opacity="0.3")
      use(xlink:href="#gentle-wave" x="48" y="7")