// global

// size
$sm = 576px;
$md = 768px;
$lg = 992px;
$xl = 1200px;
$hty ?= {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
};
// font-family
$font-family-sans-serif = Lato, 'PingFang SC', 'Microsoft YaHei', Roboto, Arial, sans-serif;
$font-family-serif = Noto Serif SC, Roboto, serif;
$border-width = 1px;
// z-index
$search-popup-z-index = 30;
$search-btn-z-index = 20;
$menu-btn-z-index = 20;
$go-up-btn-z-index = 20;
$sidebar-z-index = 10;
$fireworks-z-index = 11;