// global

// size
$sm = 576px;
$md = 768px;
$lg = 992px;
$xl = 1200px;
$hty ?= {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
};
// font-family
$font-family-serif = convert(hexo-config('font.serif.family'));
$font-family-sans-serif = convert(hexo-config('font.sans_serif.family'));
$font-family-monospace = convert(hexo-config('font.monospace.family'));
// weight
$font-family-serif-weight = hexo-config('font.serif.weight');
$font-family-sans-serif-weight = hexo-config('font.sans_serif.weight');
$border-width = 1px;
// z-index
$search-popup-z-index = 30;
$search-btn-z-index = 20;
$menu-btn-z-index = 20;
$go-up-btn-z-index = 20;
// banner
$cloud-z-index = 8;
$go-down-z-index = 9;
$sidebar-z-index = 10;
$fireworks-z-index = 11;
