// color
$white = #FFFFFF
$black = #000000
$light = #fafbfc
$dark = #303133
$gray = #999999

$red = #db2828
$orange = #f2711c
$yellow = #FF8718
$green = #21ba45
$blue = #0078E7
$indigo = #515bd4
$purple = #8e71c1

$light-blue = #42B8DD
$light-gray = #CCCCCC

$colors := {
  primary: $blue,
  inverse: $yellow,
  success: $green,
  warning: $orange,
  danger: $red,
  info: $light-blue
}

// text
$color := {
  text: $black,
  link: $blue
}