// color
$white = #FFFFFF
$black = #000000
$light = #fafbfc
$dark = #303133

$blue = #0078E7
$green = #21ba45
$orange = #f2711c
$red = #db2828
$purple = #8e71c1
$grey = #858585

$light-blue = #42B8DD
$light-grey = #999999

$colors := {
  "success": $green,
  "warning": $orange,
  "danger": $red,
  "info": $light-blue
}