$bg-color = convert(hexo-config('colors.bg'));

:root {
  --hty-mode: 'light';
  --hty-bg-color: $bg-color;
  --hty-text-color: #333333;
  --hty-secondary-text-color: #555555;
  --post-block-bg-color: white;
  // star-markdown-css
  --smc-link-color: $colors.primary;
}
