// var
@import "_variables/color"
@import "_variables/base"

// mixin
@import "_mixins/*"

// component
@import "_components/*"
@import "_components/*/*"

@import "_global"
@import "_layout/*"

// widget
if hexo-config('local_search.enable') || hexo-config('algolia_search.enable')
  @import "_widget/search"

// third-party