
body
  margin: 0
  line-height: 2

// var
@import "_variables/color"
@import "_variables/base"

// mixin
@import "_mixins/*"

// component
@import "_components/*"
@import "_components/*/*"

@import "_global"
@import "_layout/*"

// third-party