// var
@import '_variables/_base';
@import '_variables/_colors';
// mixin
@import '_mixins/*';
// global
@import '_global';
@import '_layout/*';
// component
@import '_components/*';
@import '_components/*/*';
// widget
@import '_widget';

// extend page
if (hexo-config('albums.enable')) {
  @import '_extend/albums';
}

if (hexo-config('girls.enable')) {
  @import '_extend/girls';
}
