#minivaline-container.comment-container
script(defer, src=theme.vendors.minivaline_js)
script.
  document.addEventListener("DOMContentLoaded", function(event) {
    new MiniValine(CONFIG.minivaline);
  }); 