#minivaline-container
script(defer, src=theme.vendors.minivaline_js)
- var minivalineConfig = JSON.stringify(theme.minivaline)
script.
  const minivalineConfig = !{minivalineConfig}
  minivalineConfig.el = "#minivaline-container"
  document.addEventListener("DOMContentLoaded", function() {
    new MiniValine(minivalineConfig);
  });
