#tcomment
script(src=theme.vendors.twikoo)
- var twikooConfig = JSON.stringify(theme.twikoo)
script.
  const twikooConfig = !{twikooConfig}
  twikooConfig.el = '#tcomment'
  twikoo.init(twikooConfig)
