#tcomment
script(src=theme.vendors.twikoo)
- var twikooConfig = JSON.stringify(theme.twikoo)
script.
  window.twikooConfig = !{twikooConfig}
  twikooConfig.el = '#tcomment'
  twikoo.init(twikooConfig)
  document.addEventListener("pjax:success", twikoo.init(twikooConfig));
