//- not need js-Pjax
#valine-container
//- not use valine_config() for window.location.pathname
- theme.valine.el = "#valine-container"
- theme.valine.lang = (theme.valine.lang || config.language || "zh-cn").toLowerCase()
script.
  Yun.utils.getScript("#{theme.vendors.valine_js}", () => {
    const valineConfig = !{JSON.stringify(theme.valine)}
    valineConfig.path = "#{url_for(page.path)}"
    new Valine(valineConfig)
  }, window.Valine);
