// small
mobile() {
  @media screen and (max-width: 768px) {
    {block};
  }
}

the-transition() {
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
}

// shadow
the-box-shadow() {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

// fade in
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}