// small
// 768px
mobile() {
  @media screen and (max-width: 768px) {
    {block};
  }
}

tablet() {
  @media screen and (max-width: 1024px) {
    {block};
  }
}

the-transition() {
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0s;
}

// shadow
the-box-shadow() {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
}

// fade in
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// for scroll
.disable-hover, .disable-hover * {
  pointer-events: none !important;
}
