link(rel="dns-prefetch" href="https://cdn.jsdelivr.net")
each item in theme.cdn.css
  link(rel='stylesheet', href=item)

each item in theme.cdn.js.base
  script(src=item)

each item in theme.cdn.js.async
  script(src=item, async)

if theme.cdn.js.defer
  each item in theme.cdn.js.defer
    script(src=item, defer)