script(async, src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
script.
  (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: '#{theme.google_adsense.client}',
      enable_page_level_ads: '#{theme.google_adsense.enable_page_level_ads}'
  });