link(rel='stylesheet', href=url_for(theme.vendors.lightgallery.css))
script.
  Yun.utils.getScript("#{theme.vendors.lightgallery.js}", () => {
    lightGallery(document.getElementById('lightgallery'));
  }, window.lightGallery);
