script(defer, src=theme.vendors.medium_zoom)
script.
  document.addEventListener("DOMContentLoaded", () => {
    mediumZoom('[data-zoomable]',{
      background: 'rgba(0,0,0,0.9)'
    })
  });

style.
  .medium-zoom-overlay {
    z-index: 50;
  }
  .medium-zoom-image--opened {
    z-index: 100;
    object-fit: contain;
  }