if theme.fireworks && theme.fireworks.enable
  script(defer, src=theme.vendors.anime)
  script(defer, src=theme.vendors.fireworks)
  canvas.fireworks

if theme.rymd
  script(defer, src=theme.vendors.rymd)
  canvas#rymd
