if theme.fireworks && theme.fireworks.enable
  script(defer, src=theme.vendors.anime)
  script(defer, src=theme.cdn.pre + theme.vendors.fireworks)
  canvas.fireworks

if theme.rymd
  script(defer, src=theme.cdn.pre + theme.vendors.rymd)
  canvas#rymd

if theme.bg_image.enable
  .bg-img-container
    .bg-img