.banner
  .vertical-line-top
  .vertical-line-bottom

script.
  function random(min, max) {
    return Math.random() * (max - min) + min
  }
  function generateBanner(banner) {
    let sumH = 0
    for (let i = 0; i < banner.length; i++) {
      let $char = $('<div></div>')
      let ran = random(1.5, 3.5)
      let charSize = ran + 'rem'
      $char.css('fontSize', charSize)
      $char.html('<span class="char">' + banner[i] + '</span>')
      $char.hide().insertBefore($('.vertical-line-bottom')).fadeIn()
      if (i % 2 == 0) {
        $char.addClass('char-left')
        $char.animate({borderRightWidth: charSize}, 500, 'swing')
      } else {
        $char.addClass('char-right')
        $char.animate({borderLeftWidth: charSize}, 500, 'swing')
      }
      sumH += ran
    }
    $('.vertical-line-top, .vertical-line-bottom').css('height', 'calc(50vh - ' + sumH/2 + 'rem + 1px)')
  }
  setTimeout(function(){generateBanner('#{theme.banner || config.title}')}, 100)

#hty-cloud
  #cloud-1
  #cloud-2

if theme.say.enable
  #say
    span#say-content
    small#say-author
    small#say-from
  if theme.say.remote
    script.
      fetch(new Request("#{theme.say.api}"))
        .then(function(res) {
          if (!res.ok) {
            throw new Error("HTTP error, status = " + res.status);
          }
          res.json().then(function(data) {
            let sentence = data[Math.floor(Math.random() * data.length)];
            $('#say-content').text(sentence.content);
            $('#say-author').text(sentence.author);
            $('#say-from').text("「" + sentence.from + "」");
          });
        })
        .catch(function(e) {
          console.log("error: " + e.toString());
        });
  else
    script.
      let sentences = !{JSON.stringify(theme.words)};
      let sentence = sentences[Math.floor(Math.random()*words.length)];
      if (sentence.from) {
        $('#say-content').text(sentence.content);
        if (sentence.url) {
          $('#say-from').html('<a class="say-from-link" href=' + sentence.url + '>' + sentence.from + '</a>');
        } else {
          $('#say-from').text(sentence.from);
        }
      }
