!=favicon_tag(config.favicon || theme.favicon || '/favicon.ico')

if !theme.rss && config.feed && config.feed.path
  - theme.rss = config.feed.path
  != feed_tag(config.feed.path)

if process.env.NODE_ENV !== 'dev'
  if theme.google_analytics && theme.google_analytics.enable
    include ../_third-party/analytics/google-analytics.pug
  if heme.google_adsense && theme.google_adsense.enable
    include ../_third-party/google-adsense.pug

//- config
!=yun_config()

//- head custom
if theme.head.css
  each item in theme.head.css
    link(rel='stylesheet', href=item)

if theme.head.js.base
  each item in theme.head.js.base
    script(src=item)

if theme.head.js.async
  each item in theme.head.js.async
    script(src=item, async)

if theme.head.js.defer
  each item in theme.head.js.defer
    script(src=item, defer)