-
  var options = {
    prev_text: '<i class="fas fa-chevron-left"></i>',
    next_text: '<i class="fas fa-chevron-right"></i>',
    mid_size: 1
  }
if page.prev || page.next
  nav.pagination
    !=paginator(options)

