#reward-container
  padding: 10px 0
  margin: 20px auto
  width: 90%
  text-align: center

#reward-button
  cursor: pointer
  padding: 0
  border-color: $colors.danger
  color: $colors.danger
  font-size: 1.2rem
  border-radius: 50%
  width: 2.3rem
  height: 2.3rem
  text-align: center
  line-height: 1.8

#reward-button:hover
  background-color: $colors.danger
  color: $white

#qr {
  padding-top: 20px;

  a {
    border: 0;
  }

  img {
    width: 180px;
    max-width: 100%;
    display: inline-block;
    margin: 0.8em 2em 0 2em;
  }

  p {
    text-align: center;
  }
}
