.code-container {
  position: relative;

  &:hover {
    .copy-btn {
      opacity: 1;
    }
  }
}

.copy-btn {
  position: absolute;
  opacity: 0;
  color: gray;
  cursor: pointer;
  line-height: 1.5;
  padding: 1px 4px;
  transition: opacity 0.2s;
  top: 2px;
  right: 2px;
  border-radius: 4px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
