#recent-posts {
  padding-top: 24px;
  padding-bottom: 24px;
}

.post-card {
  border: 1px solid rgba(black, 0.5);
  box-shadow: 0 5px 25px rgba($colors.primary, 0.3);
  background-color: rgba(white, 0.8);

  &:hover {
    box-shadow: 0 5px 30px rgba(white, 0.3);
  }

  &:hover {
    background-color: #fff;
  }

  &-header {
    padding-top: 0.5rem;
  }

  &-excerpt {
    max-height: 6.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }

  &-content {
    padding: 0.5rem 1rem;
  }

  &-title {
    margin: 0;
  }

  &__actions {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &-tag {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &-tag, &-category {
    font-size: 0.8rem;

    span {
      color: $dark;

      &:hover {
        color: $colors.primary;
      }
    }

    .icon {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  &-readmore {
    button {
      font-size: 18px;
    }
  }
}
