.post-markdown {
  line-height: 1.8;

  h1 {
    font-size: 2.5em;
    border-bottom: 1px solid rgba($gray, 0.5);
  }

  h2 {
    font-size: 2.2em;
    border-bottom: 1px solid rgba($gray, 0.5);
  }

  h3 {
    font-size: 1.9em;
    border-bottom: 1px dotted rgba($gray, 0.5);
  }

  h4 {
    font-size: 1.6em;
  }

  h5 {
    font-size: 1.3em;
  }

  h6 {
    font-size: 1.03em;
  }

  h1, h2, h3, h4, h5, h6 {
    transition: all 0.2s ease-out;

    .header-anchor {
      margin-right: 0.2rem;
    }
  }

  pre, code {
    overflow: auto;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.85rem;
    line-height: 1.6;
    border-radius: 3px;

    code {
      padding: 0px;
      background: transparent;
      font-size: 0.85rem;
    }
  }

  >pre {
    padding: 0.5rem;
    background-color: #eee;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  code {
    overflow-wrap: break-word;
    padding: 3px 6px;
    color: $dark;
    background: #eee;
    border-radius: 3px;
  }

  kbd {
    background-color: #ffffff;
    border-radius: 0.2rem;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.06);
    padding: 0.25rem 0.5rem;
    margin: 0.1rem;
    font-size: 12px;
  }

  blockquote {
    margin: 0;
    padding: 0 1rem;
    color: $dark;
    border-left: 0.25rem solid $gray;
  }

  hr {
    margin: 2rem 0;
    height: 2px;
    border: none;
    background-color: rgba($colors.primary, 0.5);
  }

  img {
    display: flex;
    margin: 0.5rem auto;
    max-width: 92%;
    max-height: 500px;
    border-radius: 0.2rem;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.4s;

    &:hover {
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
    }
  }

  img + em {
    display: block;
    text-align: center;
    color: #666;
    font-size: 0.9rem;
  }

  iframe {
    display: flex;
    width: 92%;
    margin: 2rem auto;
    height: 600px;
    border-radius: 0.2rem;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.4s;

    &:hover {
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.12);
    }
  }

  strong {
    font-weight: bold;
  }
}