// override
// https://github.com/YunYouJun/star-markdown-css
.markdown-body {
  color: var(--hty-text-color);
  font-weight: $font-family-sans-serif-weight;
  font-family: $font-family-sans-serif;

  code, pre {
    font-family: $font-family-monospace;
  }
}
