#reward-container {
  padding: 10px 0;
  margin: 20px auto;
  width: 90%;
  text-align: center;
}

#reward-button {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  // RMB color
  color: #DF667F;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: top;
    margin-top: -0.05rem;
  }
}

#reward-comment {
  margin-top: 0.5rem;
}

#qr {
  img {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    margin: 1rem 1rem 0 1rem;
    padding: 5px;
    border: 1px solid $light-gray;
    border-radius: 5px;
    the-transition();
    the-box-shadow();
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
