.post-collapse
  position: relative
  margin: 0 20px

  &::after
    content: " "
    position: absolute
    top: 2rem
    left: 0
    margin-left: -2px
    width: 4px
    height: 100%
    background: alpha($colors.primary, 0.3);

  &-title
    text-align: center

  .collection-title
    position: relative
    margin: 0
    border-bottom: 1px dotted $colors.primary

    h2
      color: darken($colors.primary, 60%)
      margin-left: 20px

    &::before
      content: " "
      position: absolute
      left: 0
      top: 35%
      margin-left: -4px
      margin-top: -4px
      width: 8px
      height: 8px
      background: $colors.primary
      border-radius: 50%
      z-index: 1

  .post-header
    position: relative
    text-align: left
    border-bottom: 1px dotted $colors.primary

    &::before
      content: " "
      position: absolute
      left: 0
      top: 8px
      width: 6px
      height: 6px
      margin-left: -4px
      border-radius: 50%
      border: 1px solid $colors.primary
      background-color: white
      the-transition()
      transition-property: background
      z-index: 1

    &:hover
      &::before
        border:1px dotted $colors.primary
        background: $colors.primary
    
    .post-title
      margin: 15px 0 15px 75px
      padding: 0
      line-height: 1.5
      font-size: 1rem

    .post-meta
      position: absolute
      top: 0
      left: 20px