#reward-container
  padding: 10px 0
  margin: 20px auto
  width: 90%
  text-align: center

#reward-button
  cursor: pointer
  display: inline-block
  margin: 0
  padding: 5px 15px
  border: 0
  border-radius: 5px
  font-size: 1rem
  color: #fff
  background: $colors.danger

#reward-button span:hover {
  background: #F7877F;
}

#qr {
  padding-top: 20px;

  a {
    border: 0;
  }

  img {
    width: 180px;
    max-width: 100%;
    display: inline-block;
    margin: 0.8em 2em 0 2em;
  }

  p {
    text-align: center;
  }
}
