.post-card-category, .post-card-tag
  font-size: 0.8rem
  span
    color: $dark
    &:hover
      color: $colors.primary
  .icon
    width: 0.8rem
    height: 0.8rem

.post-card-tag
  display: flex
  flex-grow: 1
  justify-content: flex-end

// post card
.post-card
  &-header
    padding-top: .5rem

  &-content
    padding: .5rem 1rem

  &-title
    margin: 0

  &__actions
    padding-left: 1rem
    padding-right: 1rem

.recent-post-item
  &:hover
    background-color: white