.post-header
  text-align: center

  .post-title
    margin: 0
    padding: 10px
    font-size: 1.8rem

    .post-title-link
      position: relative
      padding: 1rem 1.5rem

      &::before,
      &::after
        content: ''
        position: absolute
        width: 10px
        height: 10px
        opacity: 0
        border: 2px solid #d94f5c
        transition: transform 0.3s, opacity 0.3s
        transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29)

      &::before
        top: 0
        left: 0
        border-width: 2px 0 0 2px
        transform: translate3d(10px, 10px, 0)

      &::after
        right: 0
        bottom: 0
        border-width: 0 2px 2px 0
        transform: translate3d(-10px, -10px, 0)

      &:hover::before,
      &:hover::after
        opacity: 1
        transform: translate3d(0, 0, 0)