.post-nav
  position: relative
  display: table
  padding: 1rem 0
  width: 100%

.post-nav-divider
  display: table-cell
  width: 10%
  text-align: center

  .social-share
    padding: 3px
    border-radius: 2px

#share
  position: absolute
  left: 0
  right: 0
  top: 70px
  opacity: 0
  text-align:center
  the-transition()

.post-nav-item
  display: table-cell
  width: 45%
  vertical-align: middle

.post-nav-prev
  text-align: left

.post-nav-next
  text-align: right