.post-nav
  position: relative
  display: table
  width: 100%

.post-nav-divider
  display: table-cell
  width: 10%
  text-align: center

#share
  position: absolute
  left: 0
  right: 0
  top: 50px
  opacity: 0
  text-align:center
  the-transition()
  z-index: 100

.post-nav-item
  display: table-cell
  width: 45%
  vertical-align: middle

.post-nav-prev
  text-align: left

.post-nav-next
  text-align: right