mixin page_header(title, icon, color)
  header.post-header
    h1.post-title(itemprop='name headline', style=color ? `color: ${color}` : '')
      if page.icon
        - icon = page.icon
      if icon
        +icon(icon)
      !=title
