mixin post_item(post)
  article(itemscope, itemtype='http://schema.org/Article')
    .post-block
      include ../_partial/post/post-schema.pug

      header.post-header
        include ../_partial/post/post-title.pug
        include ../_partial/post/post-meta.pug

      section.post-body(itemprop='articleBody')
        .post-content(class='markdown-body')!=post.content

        if theme.reward_settings.enable
          include ../_partial/post/reward.pug
        
        if theme.creative_commons.license && theme.creative_commons.post
          include ../_partial/post/post-copyright.pug


    
      footer.post-footer