for tag in post.tags.data
  - var tagColor = "var(--hty-text-color)"
  if tag.name in theme.tags
    - tagColor = theme.tags[tag.name]
  a.tag-item(href=url_for(tag.path, rel='tag'), style= tagColor ? `--text-color:${tagColor}`:'')
    - tagColor = null
    span.post-meta-item-icon
      +icon('icon-price-tag-3-line')
    span.tag-name!=tag.name
