// minivaline
if (hexo-config('minivaline.enable')) {
  :root {
    --ohhho-color-p: var(--hty-text-color) !important;
    --ohhho-color-text: var(--hty-secondary-text-color) !important;
    --ohhho-color-card: var(--post-block-bg-color) !important;
    --ohhho-color-block: var(--hty-bg-color) !important;
  }
}

// waline
if (hexo-config('waline.enable')) {
  #waline {
    --waline-theme-color: $colors.primary;
    --waline-active-color: rgba($colors.primary, 0.8);
  }
}

#comment {
  margin: 0 1rem;
  padding: 1rem;
  background-color: var(--post-block-bg-color);

  +mobile() {
    margin: 0;
  }
}

.comment-tooltip {
  font-size: 0.8rem;
  color: var(--hty-text-color);
  padding: 0.5rem;
  border: 1px solid #f0f0f0;
  margin-bottom: 1rem;
}

#github-issues {
  margin: 1rem;
}

// valine
.v[data-class=v] p {
  color: var(--hty-text-color) !important;

  code {
    color: black;
  }
}
