#say {
  display: block;
  text-align: center;
  font-family: $font-family-serif;
  font-weight: bold;
  padding: 0.5rem;
  border-top: $border-width solid black;
  border-bottom: $border-width solid black;

  #say-content {
    color: var(--hty-color);
    display: block;
  }

  #say-from {
    display: block;
  }
}