.btn
  padding: 5px 15px
  border: 2px solid $blue
  background: $white
  the-transition()
  border-radius: 2px
  color: $blue

  &:hover
    border-color: $blue
    background: $blue
    color: $white