.hts-
  &card
    position: relative
    display: flex
    background-color: rgba(255, 255, 255, 0.85)
    the-transition()
    the-box-shadow()
    flex-direction: column
    box-sizing: border-box
    
    &__actions
      display: flex
      flex-direction: row
      align-items: center
      box-sizing: border-box
      min-height: 3rem