.hty- {
  &card {
    position: relative;
    display: flex;
    margin: 1rem;
    the-transition();
    the-box-shadow();
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;

    &__actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      min-height: 3rem;
      border-top: 1px solid white;
    }

    &:hover {
      .hty-card__action {
        border-top: 1px solid black;
      }
    }
  }
}