.hts-
  &card
    position: relative
    display: flex
    background-color: rgba(255, 255, 255, 0.85)
    the-transition()
    the-box-shadow()
    flex-direction: column
    box-sizing: border-box
    
    &__actions
      display: flex
      flex-direction: row
      align-items: center
      box-sizing: border-box
      min-height: 3rem

    .post-card-tag
      display: flex
      flex-grow: 1
      justify-content: flex-end


// post card
.post-card
  &-header
    padding-top: .5rem

  &-content
    padding: .5rem 1rem

  &-title
    margin: 0

  &__actions
    padding-left: 1rem
    padding-right: 1rem