::-webkit-scrollbar
  width: 8px
  height: 8px

::-webkit-scrollbar-track
  border-radius: 2px
  background-color: rgba(0, 0, 0, 0.05)

::-webkit-scrollbar-thumb
  border-radius: 2px
  background-color: alpha($colors.primary, 0.4)

  &:window-inactive
    background-color: alpha($colors.primary, 0.2)

  &:hover
    background-color: alpha($colors.primary, 0.6)

  &:active
    background-color: alpha($colors.primary, 0.8)