.iconfont
  font-size: 1.2rem

.fireworks
  position: fixed
  z-index: -1
  pointer-events: none

.icon
  width: 1rem; height: 1rem
  vertical-align: -0.15em
  fill: currentColor
  overflow: hidden