.iconfont {
  font-size: 1.2rem;
}

.icon {
  width: 1rem;
  height: 1rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

if (hexo-config('fireworks')) {
  .fireworks {
    position: fixed;
    left: 0;
    top: 0;
    z-index: $fireworks-z-index;
    pointer-events: none;
  }
}

if (hexo-config('trianglify.enable')) {
  $tri-opacity = hexo-config('trianglify.opacity');

  #trianglifyContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: $tri-opacity;
    animation: triFadeIn 2s;
  }

  @keyframes triFadeIn {
    from {
      opacity: 0;
      filter: grayscale(1);
    }

    to {
      opacity: $tri-opacity;
    }
  }
}