#page, #archive, #tag, #category {
  margin: 1rem;
  padding-bottom: 2rem;
  background-color: white;

  +mobile() {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}