$char-size-1 = 1.5rem;
$border-width = 1px;

if (hexo-config('mode') == 'dark') {
  --hty-theme-bgcolor: #000;
  $line-color = $white;
  $char-color = $line-color;
  $char-bg-color = $black;
} else {
  $line-color = $black;
  $char-color = $line-color;
  $char-bg-color = $white;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-family-serif;
  font-weight: 900;
}

.vertical-line {
  &-top, &-bottom {
    display: flex;
    background-color: $line-color;
    width: $border-width;
    height: 50vh;
  }
}

.char {
  background-color: alpha($char-bg-color, 0.5);
  the-transition();

  &:hover {
    color: $char-bg-color;
    background-color: alpha($char-color, 0.5);
  }

  &-left, &-right {
    display: flex;
    color: $char-color;
    line-height: 1;
    // font-family: 'ZCOOL XiaoWei'
  }

  &-left {
    border-left: $border-width solid $line-color;
    border-right: 0px solid alpha($purple, 0.1);
  }

  &-right {
    border-left: 0px solid alpha($purple, 0.1);
    border-right: $border-width solid $line-color;
  }
}

#hty-card {
  display: flex;
  width: 100%;
}

@keyframes cloud-move {
  from {
    left: 0px;
  }

  to {
    left: -300px;
  }
}

#say {
  color: white;
  display: block;
  text-align: center;
  font-family: $font-family-serif;
  font-weight: bold;
  padding: 0.5rem;
  background-color: rgba(black, 0.2);
  mix-blend-mode: difference;
  box-shadow: 0 0 20px rgba(black, 0.2);

  #say-content {
    display: block;
  }

  #say-from {
    display; block;
  }

  .say-from-link {
    color: white;
    border-bottom: 1px solid white;
  }
}