#footer
  font-size: 14px
  margin-top: 10px
  padding: 2rem 1rem
  color: $gray
  text-align: center

  a
    color: $gray
    text-decoration: none
    cursor: pointer

    &:hover
      color: $dark

  .footer-separator
    margin: 0 0.5rem

@keyframes iconAnimate {
  0%, 100% { transform: scale(1); }
  10%, 30% { transform: scale(0.9); }
  20%, 40%, 60%, 80% { transform: scale(1.1); }
  50%, 70% { transform: scale(1.1); }
}

if hexo-config('footer.icon.animated') {
  #animate {
    animation: iconAnimate 1.33s ease-in-out infinite;
  }
}

.with-love {
  display: inline-block;
  margin: 0 5px;
  color: unquote(hexo-config('footer.icon.color'));
}

#busuanzi
  &_value
    &_site_uv,
    &_site_pv,
    &_page_pv
      margin-left: 0.2rem