.hty-layout-grid {
  display: grid;
  box-sizing: border-box;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin: 1rem auto;

  &__cell {
    width: 100%;
    box-sizing: border-box;
    justify-content: center;

    &--span-12 {
      margin: 0;
      width: auto;
      grid-column-end: span 12;
    }
  }
}