#menu-outer
  text-align: center

#menu-inner
  margin-bottom: 1rem
  padding: 1rem 0

.menu
  padding-left: 0
  text-align: center

.menu .menu-item
  display: inline-block
  margin: 0 10px
  list-style: none

.menu-link
  color: $black
  text-decoration: none

  &:hover
    color: $orange