// tag
.tag-cloud
  padding: 1rem 2rem
  text-align: center

  a
    display: inline-block
    margin: 0 0.4rem
    text-decoration: none
    cursor: pointer

    &:hover
      color: $black !important
  
  &__title
    color: $grey
    font-size: 1rem
    margin: 0.5rem