.page-number-basic {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0;
  background-color: alpha(white, 0.5);
  transition: 0.2s;
}

.pagination {
  text-align: center;

  .space {
    @extend .page-number-basic;
  }

  .prev, .next, .page-number, .space {
    @extend .page-number-basic;
    color: var(--hty-text-color) !important;
    text-decoration: none;

    &:hover {
      font-weight: normal;
      color: var(--hty-bg-color) !important;
      background: rgba($colors.primary, 0.7);
    }

    &:active {
      color: var(--hty-bg-color) !important;
      background: rgba(lighten($colors.primary, 20%), 0.9);
    }

    &.current {
      font-weight: normal;
      background: rgba(lighten($colors.primary, 20%), 0.9);
      color: var(--hty-bg-color) !important;
      cursor: default;
    }
  }
}