.page-number-basic
  display: inline-block
  width: 2rem
  height: 2rem
  margin: 0
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1)

.pagination
  margin-top: 4rem
  text-align: center

  .space
    @extend .page-number-basic

  .prev, .next, .page-number
    @extend .page-number-basic
    cursor: pointer
    color: $dark
    text-decoration: none

    &:hover
      background: alpha($colors.primary, 0.1)

    &.current
      background: $colors.primary
      color: $white
      cursor: default
      // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset