// #post {}
.post {
  &-block {
    margin: 0 1rem;
    padding: 1rem;
    background-color: var(--post-block-bg-color);
    backdrop-filter: blur(10px);

    +mobile() {
      margin: 0;
      padding-top: 2.5rem;
    }
  }

  &-body {
    padding: 0 5rem;

    +tablet() {
      padding: 0 0.5rem;
    }

    +mobile() {
      padding: 0 0.5rem;
    }
  }

  &-content {
    padding: 20px 0px;
  }
}

.post-meta {
  font-size: 14px;
  color: var(--hty-secondary-text-color);

  .icon {
    margin-bottom: -1px;
  }
}

.post-description {
  font-weight: normal;
  padding: 0.5rem;
}

.post-author {
  display: flex;
  justify-content: center;

  .author-avatar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;

    img {
      border-radius: 50%;
      height: 1rem;
      width: 1rem;
      padding: 2px;
      border: 2px solid lightgray;
    }
  }

  .author-name {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
}

.post-meta-item-icon {
  display: inline-block;
  color: var(--text-color, --hty-secondary-text-color);
}

.post-meta-divider {
  height: 25px;
  color: var(--hty-secondary-text-color);
  margin: 0 0.5rem;
}

.post-eof {
  margin: 50px auto;
  width: 50%;
  height: 1px;
  background: $blue;
  opacity: 0.1;
}

.post-copyright {
  font-size: 0.9rem;
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  border-left: 3px solid #ff5252;
  background-color: var(--hty-bg-color);
  list-style: none;
  word-break: break-all;
}

.tag-name {
  padding: 0 0.1rem;
}
