::-webkit-input-placeholder {
  color: white;
}

.dark {
  .aplayer {
    color: black;
  }

  if (hexo-config('minivaline.enable')) {
    .ohhho .vlist .vcard .vcomment-body .text-wrapper .vcomment.expand:before {
      background: linear-gradient(180deg, rgba(246, 246, 246, 0), rgba(0, 0, 0, 0.9));
    }

    .ohhho .vlist .vcard .vcomment-body .text-wrapper .vcomment.expand:after {
      background: rgba(0, 0, 0, 0.9);
    }

    .ohhho pre {
      background: var(--color-meta);
      border: 1px solid var(--color-block);
    }

    .ohhho .vlist .vcard .vcomment-body .vhead {
      filter: brightness(85%);
    }
  }
}
