@import "reset.styl"

.layout
  margin: 0 80px

// media
@media screen and (max-width: $sm)
  .layout
    margin: 0 10px

// body
// body
  // background: radial-gradient(#e6e9f0, #fefefe)
  // background-attachment: fixed

#go-up
  position: fixed
  right: 0px
  bottom: 25px
  z-index: 100
  opacity: 0
  cursor: pointer
  color: $colors.primary
  font-size: 1.2rem