@import "reset.styl"

// body
  // background: radial-gradient(#e6e9f0, #fefefe)
  // background-attachment: fixed

body
  --hts-theme-primary: $colors.primary
  --mdc-theme-primary: $colors.primary