@import 'reset.styl';

$bg-color = convert(hexo-config('colors.bg'));

:root {
  if ($bg-color) {
    --hty-bg-color: $bg-color;
  }

  --hty-primary: $colors.primary;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: var(--hty-bg-color, #f5f5f5);
}
