body {
  font-family: Montserrat, Lato, "PingFang SC", "Microsoft YaHei", Arial, sans-serif;
  // font-weight: $--font-weight-primary;
  // font-size: $--font-size-base;
  // color: $--color-black;
  margin: 0px;
}

::selection
{
  color: #fff;
  background: $dark;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: mix($black, $link-color, 50%);
  }

  &:active {
    color: mix($black, $link-color, 50%);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  font-weight: inherit;
}

$--head-font-size-base = 1rem !default
$--head-font-size-step = 0.3rem !default

h1 {
  font-size: $--head-font-size-base + 5 * $--head-font-size-step;
  font-weight: 300;
}

h2 {
  font-size: $--head-font-size-base + 4 * $--head-font-size-step;
  font-weight: 300;
}

h3 {
  font-size: $--head-font-size-base + 3 * $--head-font-size-step;
  font-weight: 300;
}

h4 {
  font-size: $--head-font-size-base + 2 * $--head-font-size-step;
  font-weight: 300;
}

h5 {
  font-size: $--head-font-size-base + $--head-font-size-step;
  font-weight: 300;
}

h6 {
  font-size: $--head-font-size-base;
}

// p {
//   font-size: inherit;
//   font-weight: inherit;
//   line-height: 1.8;

//   &:first-child {
//     margin-top: 0;
//   }

//   &:last-child {
//     margin-bottom: 0;
//   }
// }

// sup, sub {
//   font-size: #{$--font-size-base - 1px};
// }

// small {
//   font-size: #{$--font-size-base - 2px};
// }

// hr {
//   margin-top: 20px;
//   margin-bottom: 20px;
//   border: 0;
//   border-top: 1px solid #ccc;
// }

// textarea {
//   font-family: inherit;
// }