// ref tailwindcss windicss
// https://windicss.org/utilities/
// but hexo can not bundle like webpack/vite, so i have to custom them by myself.
.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.w-full {
  width: 100%;
}
