#girls {
  text-align: center;
}

.girls-number {
  color: white;
}

.girl-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
}

.girl-item {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  width: 8rem;
  margin: 1rem;

  .girl {
    &-info {
      width: 100%;
      padding: 0;
      margin: 0;
    }

    &-avatar {
      object-fit: cover;
      object-position: center top;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      padding: 0.2rem;
      background-color: #fff;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.12);
      transition: 0.5s;

      &:hover {
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.12);
      }
    }

    &-name {
      font-size: 0.9rem;
    }

    &-from {
      font-size: 12px;
      font-family: $font-family-serif;
      font-weight: bold;
      color: var(--hty-secondary-text-color);

      &::before {
        content: '「';
      }

      &::after {
        content: '」';
      }
    }
  }
}
