.sidebar {
  &-translate {
    padding-left: 20rem;

    +mobile() {
      padding-left: 0;
    }
  }

  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20rem;
  background: white;
  text-align: center;
  z-index: 10;
  the-transition();
  the-box-shadow();

  +mobile() {
    left: -20rem;
    transform: translateX(0);
  }

  &-toggle {
    display: none;

    +mobile() {
      display: flex;
    }

    &-fixed {
      position: fixed;
      left: 0.8rem;
      top: 0.6rem;
      line-height: 1;
      z-index: 99;
      cursor: pointer;
    }
  }

  .sidebar-panel {
    padding: 20px 10px;
    display: none;
  }

  .sidebar-panel-active {
    display: block;
  }

  .links-of-author {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    &-item {
      line-height: 1;
      font-size: 0.9rem;
    }
  }

  .links-of-friend {
    display: flex;
    justify-content: center;

    .icon {
      width: 2rem;
      height: 2rem;
    }
  }
}

.sidebar-open {
  .sidebar {
    transform: translateX(20rem);
  }
}

.is-home {
  .sidebar {
    left: -20rem;
    transform: translateX(0);
  }

  .sidebar-toggle {
    display: flex;
  }

  .sidebar-translate {
    the-transition();
    padding-left: 0;
  }

  .sidebar-open {
    .sidebar {
      transform: translateX(20rem);
    }

    .sidebar-translate {
      padding-left: 20rem;

      +mobile() {
        padding-left: 0;
      }
    }
  }
}
