#sidebar
  position: fixed
  top: 0
  left: -320px
  z-index: 11
  overflow-y: auto
  width: 320px
  height: 100%
  background: $white
  text-align: center
  transition-property: box-shadow
  the-transition()
  the-box-shadow()


  .sidebar-panel
    padding: 20px 10px
    display: none

  .sidebar-panel-active
    display: block

  .links-of-author
    .icon
      width: 1.5rem
      height: 1.5rem