#sidebar
  position: fixed
  top: 0
  left: -320px
  z-index: 1
  overflow-y: auto
  width: 320px
  height: 100%
  background: rgba(255, 255, 255, 0.9)
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1)
  text-align: center
  transition-property: box-shadow
  the-transition()


  &:hover
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.1)

  .sidebar-panel
    padding: 20px 10px
    display: none

  .sidebar-panel-active
    display: block

  .links-of-author
    .icon
      width: 1.5rem
      height: 1.5rem