.site-author-image {
  height: 96px;
  width: 96px;
  padding: 4px;
  background-color: white;
  box-shadow: 0 0 10px rgba(black, 0.2);
}

if (hexo-config('avatar.rounded')) {
  .site-author-image {
    border-radius: 50%;
  }
}

.site-author-name {
  margin: 0.5rem;
}