.sidebar-nav {
  padding-left: 0px;
  margin-top: 1rem;
  margin-bottom: 0;
  display: block;
  box-sizing: border-box;

  li {
    display: inline-block;
    cursor: pointer;
    font-size: 0.8rem;
    border-bottom: 1px solid transparent;
    width: 35%;
  }

  .sidebar-nav-item {
    border: 1px solid $colors.primary;
    padding: 4px 16px;
    box-shadow: inset 0 0 5px rgba($colors.primary, 0.2);

    &:first-child {
      border-right-width: 0px;
    }

    &:hover {
      the-transition();
      background-color: $colors.primary;
      color: $white;
    }
  }

  .sidebar-nav-active {
    background-color: $colors.primary;
    color: $white;
    box-shadow: 0 0 5px rgba($colors.primary, 0.2);
  }
}