.post-toc ol
  list-style: none
  text-align: left
  margin: 0
  padding: 0 2px 5px 10px

  .toc-link
    &.active
      color: $orange

.post-toc-progress
  color: $gray

  .progress-num
    display: inline-block
    min-width: 2rem

  .progress-bar
    width: 0
    height: 2px
    background: $colors.primary