.post-toc {
  line-height: 1.8;
  padding-bottom: 1rem;

  ol {
    list-style: none;
    text-align: left;
    padding-left: 1rem;
    margin: 0;

    .toc-link {
      color: $colors.primary;

      &:hover {
        color: $colors.danger;
      }
    }

    .toc-child {
      overflow: hidden;
      transition: max-height 0.6s ease-in;
      max-height: 0;
    }

    .toc-item {
      &.active {
        &>.toc-link {
          color: $orange;
        }

        &>.toc-child {
          max-height: 1000px;
        }
      }
    }
  }
}

.post-toc-progress {
  color: $gray;

  .progress {
    &-bar {
      width: 0;
      height: 0.2rem;
      background: $colors.primary;
      transition: width 0.4s;
    }

    &-info {
      margin-top: 0.1rem;
    }

    &-num {
      display: inline-block;
      min-width: 2rem;
    }
  }
}