.site-desciption
  color: $gray
  font-size: 0.8rem

.site-state
  display: flex
  justify-content: center
  overflow: hidden
  line-height: 1.5
  white-space: nowrap
  text-align: center
  margin-top: 10px

.site-state-item
  display: flex
  padding: 0 15px
  align-items: center
  // border-left: 1px solid $light-gray

  &:first-child
    // border-left: none
    border-right: 1px solid $gray
  
  &:last-child
    border-left: 1px solid $gray

  &.site-state-posts,
  &.site-state-categories
    border-right: 1px solid $light-gray

  &.icon-home,
  &.icon-search
    line-height: 1
    padding: 0

.site-state-item-icon
  color: $dark
  line-height: 1
  .icon
    width: 1.5rem
    height: 1.5rem

.site-state-item-count
  display: block
  text-align: center
  color: $dark
  font-size: 1rem