.site-desciption
  color: $gray
  font-size: 0.8rem

.site-state
  display: flex
  justify-content: center
  overflow: hidden
  line-height: 1.5
  white-space: nowrap
  text-align: center
  margin-top: 10px

.site-state-item
  padding: 0 15px
  border-left: 1px solid $light-gray

  &:first-child
    border-left: none

.site-state-item-count
  display: block
  text-align: center
  color: $dark
  font-weight: bold
  font-size: 1.2rem

.site-state-item-name
  font-size: 0.9rem
  color: $dark

.feed-link
  margin: 15px 0